<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAupVSLrALvnZ7Q89Y9oWaeYJcXEkowmrU</string>
	<key>GCM_SENDER_ID</key>
	<string>912971592578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snaplens.hairar.hairAr</string>
	<key>PROJECT_ID</key>
	<string>hairar</string>
	<key>STORAGE_BUCKET</key>
	<string>hairar.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912971592578:ios:6b90444835f3485496d59b</string>
</dict>
</plist>